<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/img/personal_img.jpg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" id="home_menu">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="about_menu">
        <a class="nav-link" href="/about">About</a>
      </li>
        <li class="nav-item" id="resume_menu">
        <a class="nav-link" href="/resume">CV</a>
      </li>
        <li class="nav-item" id="works_menu">
        <a class="nav-link" href="/works">Project work</a>
      </li>
        <li class="nav-item" id="requests_menu">
        <a class="nav-link" href="/request-works">Request</a>
      </li>
      <li class="nav-item" id="service_menu">
        <a class="nav-link" href="/services">
          Services
        </a>
      </li>
        <li class="nav-item" id="feedback_menu">
        <a class="nav-link" href="/feedback">Feedbacks</a>
      </li>
      <li class="nav-item" id="contact_menu">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
        <li class="nav-item" id="chatting_menu">
        <a class="nav-link" href="/chatting">Chatting</a>
      </li>
    </ul>
    
  </div>
</nav>