<header class="d-flex masthead" style="background-image: url('assets/img/bg-masthead.jpg');padding-top: 20px;padding-bottom: 20px;">
        <div class="container my-auto text-center">
            <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                <div class="profile-card-img" style="background-image:url(&quot;iceland.jpg&quot;);height:150px;background-size:cover;"></div>
                <div><img class="rounded-circle" style="margin-top:-70px;" src="assets/img/personal.jpg" height="150px">
                    <h3>Eng. Salah Alssayani</h3>
                    <p style="padding:20px;padding-bottom:0;padding-top:5px;">Software Engineer, DevOps, Full stack developer, Mobile Application Developer, API developer, DBMS, Cloud</p>
                </div>
                <div class="row" style="padding:0;padding-bottom:10px;padding-top:20px;">
                    <div class="col-md-6">
                        <p class="text-nowrap text-right" style="text-align: center;">Friends</p>
                        <p class="text-right"><strong>12M</strong> </p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-left" style="text-align: center;">Resume </p>
                        <p class="text-left"><strong><a href="/resume">View CV!</a></strong> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <section id="services" class="content-section bg-primary text-white text-center">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Services</h3>
                <h2 class="mb-5">What We Offer</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="material-icons">web</i></span>
                    <h4><strong style="font-size: 17px;color: rgb(6,6,6);">Website Development</strong></h4>
                    <p class="mb-0 text-faded">Website development using HTML, CSS, JS, PHP, Ajax, JQuery, Nodejs, ReactJS, Laravel, Django, ASP, and JSP</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="la la-mobile"></i></span>
                    <h4><strong style="color: rgb(6,6,6);">Android App</strong></h4>
                    <p class="mb-0 text-faded">Android Application development using Java, Flutter, Kotlin, and React Native</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="fas fa-apple-alt"></i></span>
                    <h4><strong style="color: rgb(6,6,6);">iOS App</strong></h4>
                    <p class="mb-0 text-faded"><span>iOS App development using Swift, Flutter, and React Native&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;with us!</span></p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="fab fa-researchgate"></i></span>
                    <h4><strong style="color: rgb(6,6,6);">Researches</strong></h4>
                    <p class="mb-0 text-faded">Making Sceintifc Papers for either Bachelor degree or Master Degree.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon ion-network"></i></span>
                    <h4><strong style="color: rgb(6,6,6);">Network</strong></h4>
                    <p class="mb-0 text-faded">Creating application and simulation using different tools such as Packet Tracer, NS2, NS3 and ISP.</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="fab fa-galactic-republic"></i></span>
                    <h4><strong style="color: rgb(6,6,6);">API</strong></h4>
                    <p class="mb-0 text-faded">Creating API for servers using different frameworks such as RestFull, JS, Strapi, Laravel and other frameworks.</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="material-icons"></i></span>
                    <h4><strong style="color: rgb(6,6,6);">Graduation Project Reports</strong></h4>
                    <p class="mb-0 text-faded"><span>Doing any type of graduation project with report and Laboratories. We are working so hard for students to get full mark on graduation projects. Contact us for doing your project and get A+ &nbsp;</span><i class="fa fa-heart"></i><span>&nbsp; with us!</span></p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-graduation"></i></span>
                    <h4><strong style="color: rgb(6,6,6);">Academic Help</strong></h4>
                    <p class="mb-0 text-faded">I mustache you a question...</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="typcn typcn-point-of-interest-outline"></i></span>
                    <h4><strong style="color: rgb(6,6,6);">UI/UX Design</strong></h4>
                    <p class="mb-0 text-faded">Looks great on any screen size!</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="fab fa-galactic-republic"></i></span>
                    <h4><strong style="color: rgb(6,6,6);">API</strong></h4>
                    <p class="mb-0 text-faded">Freshly redesigned for Bootstrap 4.</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="material-icons">assignment</i></span>
                    <h4><strong style="color: rgb(6,6,6);">Project Reports</strong></h4>
                    <p class="mb-0 text-faded"><span>Milions of users&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;us!</span></p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-graduation"></i></span>
                    <h4><strong style="color: rgb(6,6,6);">Academic Help</strong></h4>
                    <p class="mb-0 text-faded">I mustache you a question...</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon ion-android-settings"></i></span>
                    <h4><strong style="color: rgb(6,6,6);">Compiler</strong></h4>
                    <p class="mb-0 text-faded">Looks great on any screen size!</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="typcn typcn-key-outline"></i></span>
                    <h4><strong style="color: rgb(4,4,4);">Security</strong></h4>
                    <p class="mb-0 text-faded">Freshly redesigned for Bootstrap 4.</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="material-icons">data_usage</i></span>
                    <h4><strong style="font-size: 18px;color: rgb(7,7,7);">Analyses, software Engineering and Architecture</strong></h4>
                    <p class="mb-0 text-faded"><span>Milions of users&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;us!</span></p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="material-icons">laptop_windows</i></span>
                    <h4><strong style="color: rgb(6,6,6);">Desktop App</strong></h4>
                    <p class="mb-0 text-faded">I mustache you a question...</p>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section id="portfolio" class="content-section">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Experience</h3>
                <h2 class="mb-5">Working Projects</h2>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content" style="margin-right: 70px;margin-left: 70px;">
                                <h2 style="color: rgb(7,7,7);">Tailand Talent App</h2>
                                <p class="mb-0" style="font-size: 15px;">An Android Application for Ibdaa hand work. The application is built for smale organizations that provide a hand tailand works such as dressing, croushaih, photographs, drawing, accessories, perfumes and other things. The
                                    application has three type of users Assistants, User, and Admin.</p>
                            </div>
                        </div><img class="img-fluid" src="assets/img/tailand_ibdaa_app.png"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content" style="margin-right: 10px;margin-bottom: 60px;margin-left: 50px;padding-top: 5px;padding-bottom: 5px;">
                                <h2 style="color: rgb(3,3,3);">Life Coaching Application</h2>
                                <p class="mb-0" style="font-size: 15px;">An Android application for small organizations of personal use. The application allow the Coaches to join the life training application, register with courses, pay for session and rate the coachees. The application has
                                    three type of users Coaches, Coachees, and Admin.<br></p>
                            </div>
                        </div><img class="img-fluid" src="assets/img/life_session_app.png"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="color: rgb(1,1,1);">Caring For You and Your Baby App</h2>
                                <p class="mb-0">An Android application that track the childrens on schools using the status of the students provided by the school user. The application has three type of users Parents, School Staff and Admin.</p>
                            </div>
                        </div><img class="img-fluid" src="assets/img/caring_for_you_app.png"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="color: rgb(3,3,3);">Medical Hub centers</h2>
                                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                            </div>
                        </div><img class="img-fluid" src="assets/img/med_hub_app.png"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="color: rgb(1,1,1);">Caring For You and Your Baby App</h2>
                                <p class="mb-0">An Android application that track the childrens on schools using the status of the students provided by the school user. The application has three type of users Parents, School Staff and Admin.</p>
                            </div>
                        </div><img class="img-fluid" src="assets/img/caring_for_you_app.png"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="color: rgb(3,3,3);">Medical Hub centers</h2>
                                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                            </div>
                        </div><img class="img-fluid" src="assets/img/med_hub_app.png"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="color: rgb(1,1,1);">Caring For You and Your Baby App</h2>
                                <p class="mb-0">An Android application that track the childrens on schools using the status of the students provided by the school user. The application has three type of users Parents, School Staff and Admin.</p>
                            </div>
                        </div><img class="img-fluid" src="assets/img/caring_for_you_app.png"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2 style="color: rgb(3,3,3);">Medical Hub centers</h2>
                                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                            </div>
                        </div><img class="img-fluid" src="assets/img/med_hub_app.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="content-section bg-primary text-white">
        <div class="container text-center">
            <h2 class="mb-4">The buttons below are impossible to resist..</h2><a class="btn btn-light btn-xl mr-4" role="button" href="#">Click Me!</a><a class="btn btn-dark btn-xl mr-4" role="button" href="#">Look at Me</a></div>
    </section>
    <section id="contact" class="map"><iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe></section>
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="https://wa.me/qr/NQWTIYV4LNAZB1"><i class="icon ion-social-whatsapp"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="https://t.me/StudyAssistantsStu"><i class="fa fa-send"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon ion-social-instagram"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon ion-social-youtube"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-skype"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-google"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-linkedin"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="https://github.com/salahAlssayani"><i class="icon-social-github"></i></a></li>
            </ul>
            <p class="text-muted mb-0 small" style="color: rgb(103,4,4);font-size: 16px;">Copyright &nbsp;© Salah Mohammed Abdullah Yahya Portfolio 2022</p>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a></footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/stylish-portfolio.js"></script>
    <script>
        $('.active').removeClass('active');
        $('#home_menu').addClass('active');
    </script>