<div>
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="background-color: rgb(241,247,252);">
                    <form>
                        <div class="form-group">
                            <h1 class="text-center">Request Service</h1>
                        </div><label>Name</label>
                        <div class="form-group"><input class="form-control" type="text" id="name" placeholder="Name" required="" style="width: 330px;"></div>
                    </form><label>Email</label>
                    <div class="form-group"><input type="email" style="width: 330px;height: 39px;" required="" placeholder="Email"></div><label>Phone</label>
                    <div class="form-group"><input type="tel" placeholder="Phone No" style="width: 330px;height: 38px;" required=""></div><label>Requirement File</label>
                    <div class="form-group"><input type="file" id="file" placeholder="Subject" style="width: 330px;height: 38px;" required="true"></div><label>Description</label>
                    <div class="form-group"><textarea style="width: 330px;" placeholder="Message" required=""></textarea></div>
                    <div class="form-group"><button class="btn btn-info" type="submit" style="width: 330px;">Send</button></div>
                </div>
                <div class="col-md-6" style="padding-left: 20px;padding-right: 20px;background-color: rgb(241,247,252);">
                    <fieldset></fieldset>
                    <legend><i class="fab fa-ideal"></i>Ideal Software</legend>
                    <p></p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><i class="fas fa-map-marker-alt" style="height: 24px;width: 24px;"></i></td>
                                    <td>000,Habeel Salman, Taiz, Yemen.</td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td><i class="fa fa-phone" style="width: 24px;height: 24px;"></i></td>
                                    <td>+967 739262428</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-phone" style="width: 24px;height: 24px;"></i></td>
                                    <td>+967 773912385</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-envelope" style="width: 24px;height: 24px;"></i></td>
                                    <td>eng.salahalssayani@gmail.com<br></td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-envelope" style="width: 24px;height: 24px;"></i></td>
                                    <td>sama37my@gmail.com<br><br></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="https://wa.me/qr/NQWTIYV4LNAZB1"><i class="icon ion-social-whatsapp"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="https://t.me/StudyAssistantsStu"><i class="fa fa-send"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon ion-social-instagram"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon ion-social-youtube"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-google"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-linkedin"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-github"></i></a></li>
            </ul>
            <p class="text-muted mb-0 small" style="color: rgb(103,4,4);font-size: 16px;">Copyright &nbsp;© Salah Mohammed Abdullah Yahya Portfolio 2022</p>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a></footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/stylish-portfolio.js"></script>
    <script>
        $('.active').removeClass('active');
        $('#requests_menu').addClass('active');
    </script>